<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>鲁班客服</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" name="theme" href="">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.lubankf.com/iview.css"> -->
    <link data-n-head="true" rel="icon" type="image/x-icon" href="dist/logo.ico">
</head>

<body>
    <div id="app">
        <div class="ivu-spin ivu-spin-large ivu-spin-fix"><div class="ivu-spin-main"><span class="ivu-spin-dot"></span> <div class="ivu-spin-text"></div></div></div>
    </div>
    <div class="lock-screen-back" id="lock_screen_back"></div>
    <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script>
    <script type="text/javascript" src="https://cdn.dmh.bjhzkq.com/cdnmeijiebao/attach/cdn/vue.min.js"></script>
    <!-- <script src="https://cdn.lubankf.com/iview.min.js"></script> -->
    <script src="https://cdn.dmh.bjhzkq.com/cdnmeijiebao/attach/cdn/axios.min.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[2] %>"></script>
</body>

</html>